{% extends 'base.html.twig' %}

{% block title %}
	Mon panier - Lili Giroud
{% endblock %}

{% block body %}
	<h1 class="title">Mon panier</h1>

	{% if carts|length > 0 %}
	{% set total = null %} 
		{% for cart in carts %}
		{{dump(cart)}}
		<div class="containerGrid">
		<h2>Nom et date de la réservation</h2>
		<p class="paragraphType">{{cart.service.titre}} <br>
			réservé le {{cart.debut | date('d/m/Y à H:i')}}</p>
		</div>

		<div class="containerGrid">
		<h2>Quantité</h2>
		<p class="paragraphType">x {{cart|length}}</p>
		</div>

		<div class="containerGrid">
		<h2>Prix</h2>
		<p class="paragraphType">{{cart.service.prix}}</p>
		</div>

		<div class="containerGrid">
		<h2>Total</h2>
		{{ (cart.service.prix * cart|length )|number_format(2, ',', '.') }} €
		</div> 

		<a href="{{ path('delete_to_cart', { 'id' : cart.service.id }) }}">Supprimer</a>  

		{% set total = total + (cart.service.prix * cart|length )%} 

		Nombre de réservation :
		{{cart|length}}
		Total de mon panier :
		{{ (total)|number_format(2, ',', '.') }}€


			<a href="{{path('order')}}" class="buttonBlue">Valider mon panier</a>
		{% endfor %}
	{% else %}
		<p class="paragraphType">Votre panier est vide.</p>
	{% endif %}

{% endblock %}
