{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - Lili Giroud{% endblock %}

{% block content %}
<h1 class="title"> Erreur de paiement </h1>
<p>Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
        Il semblerait que votre paiement est échoué pour votre réservation n°<strong>{{ order.reference }}</strong>.<br/>
        Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <strong>{{ order.user.email }}</strong>.
    </p>
    <a href="{{ path('order') }}">Réessayer le paiement</a>
</p>

{% endblock %}